/*Definition general*/
$backGroundColor:rgb(255, 156, 66);
$secBackgroundColor:rgb(255, 255, 255);
$maintextcolor:rgb(144, 56, 0);
$anchor:rgb(45, 45, 45);
$anchorover:rgb(189, 86, 0);


body{
  box-sizing: border-box;
  background-image: url(../assets/img/gazon_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color:$maintextcolor;
}

img{
  width: 100%;
  padding:0;
}

a{
  color:$anchor;
  text-decoration: none;
}

ul{
  text-decoration: none;
  margin:0;
  padding: 0;
  list-style: none;
}
.right{
  text-align: right;
}
.container{
  margin: 0 auto;
  width: 80vw;
  background-color: $secBackgroundColor;
}
/*HEADER FILE*/
header{
  margin: 40px 0 0 0;
}
.header1{
  padding: 20px 0;
  background-color: $secBackgroundColor;
}
.footer{
  text-align: center;
  padding:20px 0;
  background-color: $secBackgroundColor;
}

.socialcontainer{
  display: flex;
  text-decoration: none;
  list-style: none;
  margin:0;
  padding:0;
  justify-content:space-between;
  li{
    margin: 0 1vw;
  }
  .left{

    margin-left: auto;
  }
}

.header2{
  text-align: center;
  background-color: $secBackgroundColor;
  .logo{
    margin: 0 auto;
    width: 20vw;
  }
  ul{
    display: flex;
    justify-content: center;

    a{
      padding:1.5vw;
      &:hover{
        color: $anchorover;
      }
    }
  }
}
/*END HEADER FILE*/
.imageintro{
  transition: all 0.5s ease;
  height: 50vh;
}
/*affichage de toute les produit disponible*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  .card {
    overflow: hidden;
    border-radius: 5px 5px;
    margin: 5px;
    background-color: #e6e6e6;
    transition: all 0.5s ease;
    box-shadow:2px 2px 14px 0px rgba(50, 50, 50, 0.30);
    max-width: 10vw;
    min-width: 200px;
    &:hover{
      box-shadow: 5px 5px 14px 0px rgba(50, 50, 50, 0.50);

    }
    h3{
      &:hover{

        color: rgb(189, 86, 0);
      }
    }
  }
  .cardPicture{
    width: 100%;
    overflow: hidden;

  }
  img {
    width: 100%;
    transition: all 0.5s ease;
    transform: translateZ(0);
    filter: blur(0);
    image-rendering: auto;
    &:hover{
      h3{
      }
      transform: scale(1.1);
    }
  }
  .description {
    padding: 10px;
  }
  h3 {
    margin: 0;
    text-align: center;
  }
}
/*FIN affichage de toute les produit disponible*/
/*Affichage dun seul produit*/
.oneProduct{
  padding: 0 0 20px 0;
  .imageContaint{
    img{
      display: block;
      margin: auto;
      border-radius: 10px 10px;
      @media only screen and (max-width: 992px){
        width: 50%;
      }
    }
    padding-right: 1%;

  }
  .descContaint{
    text-align: center;
  }
}
.alert{
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  &.error{
    background-color: rgb(172, 56, 56);
    color:rgb(255, 255, 255);
  }
  &.succes{
    background-color: rgb(65, 172, 56);
    color:rgb(255, 255, 255);
  }

}
.formulaireConnection{
  margin: 0 auto;
  width: 25%;
  label{
    font-weight: bold;
  }
  input[type="text"],input[type="password"],input[type="email"]{
    display: block;
    border:none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    -webkit-transition : border 500ms ease-out;
    &:focus{
      outline-width: 0;
      border-color: rgb(50, 198, 61);
    }
  }
}
.tablePanier{
  width:100%;
  th{
    padding:10px 0;
  }
  td{
    padding: 10px 0;
  }
  .produit:nth-child(1n){
    background-color: rgb(209, 172, 134);
  }
  .produit:nth-child(2n-1){
    background-color:  rgb(230, 195, 158);
  }

  button{
    width: 100%;
  }
  .finalprice{
    td{
      padding: 2px 0;
      padding-right: 20px;
    }
  }
}
.erasepanier{
  text-align: center;
  display: block;
  padding: 10px;
  background-color: rgb(230, 195, 158);
  transition: background-color 0.5s ease;
  &:hover{
    cursor: pointer;
    background-color: rgb(214, 148, 77);
    box-shadow: inset 2px 2px 6px -2px rgba(0,0,0,0.75);
  }
  &:active{
    box-shadow: inset 4px 4px 6px -2px rgba(0,0,0,0.75);

  }
}
@import 'grid12.scss';
